<div id = "main__section">
<section id="section">
  <form action="/api/todos" method="POST" id= "update__todo">
    <input type = "text" name = "task" placeholder="Add your todo here" class="todo_field">
    <button type="submit" class="submit__btn">Add Todo</button>
  </form>
</section>